* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  background-color:  #1e293b;
  color: white;
}
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap");

body {
  font-family: system-ui, sans-serif;
}
.image-name {
  font-family: "Playfair Display", serif;
}
