<footer id="contact">
  <div class="footer-container">

    <div class="footer-text">
      <h2>Contact Me</h2>
      <p class="white">You can reach me via phone calls, email or social platforms.</p>

      <p>📞 
        <a href="tel:+2347030784520">+234 703 078 4520</a><br>
        <a href="tel:+2349016962468">+234 901 696 2468</a>
      </p>

      <p class="white">✉️ <a href="mailto:lifebarinua@gmail.com">lifebarinua@gmail.com</a></p>

      <p class="white">🌐 Connect with me:</p>
      <div class="social-links">
        <a href="https://web.facebook.com/lifebarinua" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/life_barinua" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/dum-barinua-9b5716191/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>

      <small>© 2026 Life Barinua</small>
    </div>

    <div id="footer-image">
      <!-- Image will be injected here -->
      <span class="image-name">Life BARINUA</span>
    </div>

   </div>
</footer>
