<header>
  <div id="header-content">
    <div id="header-image">
      <img src="../assets/images/edited.jpg" alt="">
      <span class="image-name">Life BARINUA</span>
    </div>
  </div>

  <div class="header-text about-card-lite">
    <h2>About Me</h2>
    <p class="white">
      I am a software developer, whose primary focus is on developing,
      and maintaining applications and systems that meet the specific
      needs of my clients or users.
      I am skilled in creating efficient and scalable code. I stay updated
      on the latest technologies and trends in software development
      to ensure I deliver cutting-edge solutions. My experience includes
      working on web platforms, and I am proficient in problem-solving
      and collaborating with team members to achieve project goals.
    </p>
  </div>
</header>
